*{
   margin: 0;
   padding: 24px 0;
   font-size: 24px;
   justify-content: space-around;
}

header {
    background-color: #ff0000;
    color: rgb(219, 13, 13);
    }

.imagem {
    width: 10%;
 }

.cabecalho {
    background-color: #000000;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
 }

.item {
    color: white;
    display: inline-block;
    margin: 0 16px;
 }

 